.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* App.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full page height */
  flex-direction: column;
  background-image: url("https://wallpapercat.com/w/full/2/c/8/5825739.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between buttons */
}

.create-button {
  background-color: #1cb9e2;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  font-family: monospace;
}

.update-button {
  background-color: #5d9c5d;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  font-family: monospace;
}

h1 {
  color: white;
  font-family: monospace;
}
